header {
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
}

header .logo {
    background: url("../images/logo.png") no-repeat center;
    width: 142px;
    height: 60px;
    padding-left: 20px;
}
