.filters{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    align-items: center;
    text-align: right;
}

section.filters button{
    font-size: 18px;
    color: white;
    margin-right: 30px;
    background-color: #FF5A5F;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    width: 20%;
    opacity: 1;
}
section.filters button:hover{
    opacity: 0.9;
}
